<div class="bg-gray-900 text-gray-100 py-16 px-4">
  <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    <!-- Texto del Testimonio -->
    <div class="text-center lg:text-left">
      <h2 class="text-sm font-semibold text-gray-400 uppercase mb-2">Testimonios</h2>
      <h3 class="text-4xl font-bold mb-6">Lo Que Dicen de Nosotros</h3>

      <p class="text-lg italic text-gray-300 mb-8">
        "{{ testimonials[currentIndex].text }}"
      </p>

      <div class="flex items-center justify-center lg:justify-start space-x-4">
        <div class="text-left">
          <p class="font-semibold text-xl">{{ testimonials[currentIndex].name }}</p>
          <p class="text-gray-400 text-sm">{{ testimonials[currentIndex].occupation }}</p>
        </div>
      </div>

      <!-- Navegación de testimonios -->
      <div class="flex justify-center lg:justify-start mt-8 space-x-2">
        <button *ngFor="let testimonial of testimonials; let i = index"
                class="w-3 h-3 rounded-full"
                [ngClass]="{ 'bg-blue-600': currentIndex === i, 'bg-gray-400': currentIndex !== i }"
                (click)="selectTestimonial(i)">
        </button>
      </div>
    </div>

    <!-- Imagen de Fondo del Testimonio -->
    <div class="relative h-80 lg:h-full overflow-hidden rounded-lg shadow-lg">
      <img [src]="testimonials[currentIndex].backgroundImage" alt="Imagen de Testimonio" class="w-full h-full object-cover">
    </div>
  </div>
</div>
