<nav class="bg-gray-900 border-b border-gray-700">
  <div class="mx-auto max-w-9xl px-2 sm:px-6 lg:px-8">
    <div class="flex h-20 items-center justify-between">
      <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
        <!-- Logo -->
        <a routerLink="/home" class="flex flex-shrink-0 items-center mr-4">
          <img ngSrc="assets/img/logoJaveCompensa.png" alt="JaveCompensa" class="h-10 w-auto" height="2000" width="2000"/>
          <span class="hidden md:block text-gray-100 text-2xl font-bold ml-2">
            JaveCompensa
          </span>
        </a>
        <div class="md:ml-auto">
          <div class="flex space-x-2">
            <a routerLink="/home" routerLinkActive="bg-gray-700 text-white" class="text-gray-100 hover:bg-gray-800 rounded-md px-3 py-2">
              Home
            </a>
            <a routerLink="/about" routerLinkActive="bg-gray-700 text-white" class="text-gray-100 hover:bg-gray-800 rounded-md px-3 py-2">
              Acerca de Nosotros
            </a>
            <a routerLink="/reserve" routerLinkActive="bg-gray-700 text-white" class="text-gray-100 hover:bg-gray-800 rounded-md px-3 py-2">
              Reserva de Espacios
            </a>
            <a routerLink="/services" routerLinkActive="bg-gray-700 text-white" class="text-gray-100 hover:bg-gray-800 rounded-md px-3 py-2">
              Servicios
            </a>
            <a routerLink="/contact" routerLinkActive="bg-gray-700 text-white" class="text-gray-100 hover:bg-gray-800 rounded-md px-3 py-2">
              Contacto
            </a>
            <a routerLink="/loginRegister" routerLinkActive="bg-gray-700 text-white" class="text-gray-100 hover:bg-gray-800 rounded-md px-3 py-2">
              LogIn/Registrarse
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
